In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from pandas import Series
%matplotlib inline
import warnings

In [2]:
train=pd.read_csv('Train_SU63ISt.csv')
test=pd.read_csv('Test_0qrQsBZ.csv')
train_copy=train.copy()
test_copy=test.copy()

In [3]:
train.head()

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

train.columns , test.columns

In [9]:
#lest look at the data
train.dtypes ,test.dtypes

(ID           int64
 Datetime    object
 Count        int64
 dtype: object, ID           int64
 Datetime    object
 dtype: object)

In [10]:
train.shape , test.shape

((18288, 3), (5112, 2))

In [13]:
#convert to time
train['Datetime']=pd.to_datetime(train['Datetime'] , format='%d-%m-%Y %H:%M')
test['Datetime']=pd.to_datetime(test['Datetime'] , format='%d-%m-%Y %H:%M')
train_copy['Datetime']=pd.to_datetime(train_copy['Datetime'] , format='%d-%m-%Y %H:%M')
test_copy['Datetime']=pd.to_datetime(test_copy['Datetime'] , format='%d-%m-%Y %H:%M')

In [14]:
train.head()

   ID            Datetime  Count
0   0 2012-08-25 00:00:00      8
1   1 2012-08-25 01:00:00      2
2   2 2012-08-25 02:00:00      6
3   3 2012-08-25 03:00:00      2
4   4 2012-08-25 04:00:00      2

In [15]:
#lets get y,m,d from each datset
for i in (train,train_copy,test,test_copy):
    i['Year']=i['Datetime'].dt.year
    i['Month']=i['Datetime'].dt.month
    i['Day']=i['Datetime'].dt.day
    i['Hour']=i['Datetime'].dt.hour

In [17]:
#lets see the result
train.head()

   ID            Datetime  Count  Year  Month  Day  Hour
0   0 2012-08-25 00:00:00      8  2012      8   25     0
1   1 2012-08-25 01:00:00      2  2012      8   25     1
2   2 2012-08-25 02:00:00      6  2012      8   25     2
3   3 2012-08-25 03:00:00      2  2012      8   25     3
4   4 2012-08-25 04:00:00      2  2012      8   25     4