In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
hr=pd.read_csv('HR_comma_sep.csv')

In [3]:
hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
# import sklearn packages
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

C:\Users\h.mortazavi\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [24]:
sales_dummy=pd.get_dummies(hr['sales'])
salary_dummy=pd.get_dummies(hr['salary'])

In [32]:
sales_dummy.head()

,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [26]:
hr=hr.join(salary_dummy)

In [36]:
hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,high,low,medium
0,0.38,0.53,2,157,3,0,1,0,sales,low,0.0,1.0,0.0
1,0.80,0.86,5,262,6,0,1,0,sales,medium,0.0,0.0,1.0
2,0.11,0.88,7,272,4,0,1,0,sales,medium,0.0,0.0,1.0
3,0.72,0.87,5,223,5,0,1,0,sales,low,0.0,1.0,0.0
4,0.37,0.52,2,159,3,0,1,0,sales,low,0.0,1.0,0.0

In [38]:
x=hr.drop(['left','sales','salary'],axis=1)
y=hr['left']

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=5)

In [40]:
clf=LogisticRegression()

In [41]:
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [47]:
pred=clf.predict(x_test)

In [45]:
from sklearn.metrics import accuracy_score

In [50]:
accuracy_score(pred,y_test)

0.77493333333333336

### prediction by RF

In [51]:
from sklearn.ensemble import RandomForestClassifier

In [52]:
clf_rf=RandomForestClassifier()

In [53]:
clf_rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [54]:
pred_rf=clf_rf.predict(x_test)

In [55]:
accuracy_score(pred_rf,y_test)

0.99146666666666672

### wow 99% accuracy so let see by Cross validation

In [57]:
from sklearn.model_selection import cross_val_score

In [58]:
scores_Lr = cross_val_score(clf, x, y, cv=10)
scores_RF = cross_val_score(clf_rf, x, y, cv=10)

In [63]:
print("Accuracy LR: %0.2f (+/- %0.2f)" % (scores_Lr.mean(), scores_Lr.std() * 2))
print("Accuracy RF: %0.2f (+/- %0.2f)" % (scores_RF.mean(), scores_RF.std() * 2))

Accuracy LR: 0.78 (+/- 0.04)
Accuracy RF: 0.99 (+/- 0.02)