In [1]:
import pandas as pd
import numpy as np
import zipfile
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
zf_train = zipfile.ZipFile('train.zip') 
zf_macro = zipfile.ZipFile('macro.zip') 
train = pd.read_csv(zf_train.open('train.csv'))
macro=pd.read_csv(zf_macro.open('macro.csv'))
merged=train.merge(macro,on='timestamp')

In [5]:
merged.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0

In [8]:
na_count=(merged.isnull().sum()/merged.shape[0])*100
na_count.sort_values(ascending=False)

provision_retail_space_modern_sqm         97.528798
provision_retail_space_sqm                81.648124
students_reg_sports_share                 55.465853
museum_visitis_per_100_cap                55.465853
theaters_viewers_per_1000_cap             55.465853
load_of_teachers_preschool_per_teacher    55.465853
hospital_beds_raion                       47.392603
build_year                                44.649011
state                                     44.498047
cafe_sum_500_max_price_avg                43.585704
cafe_sum_500_min_price_avg                43.585704
cafe_avg_price_500                        43.585704
material                                  31.413475
kitch_sq                                  31.413475
num_room                                  31.413475
max_floor                                 31.413475
preschool_quota                           21.948738
school_quota                              21.938893
cafe_avg_price_1000                       21.410521
cafe_sum_1000_max_price_avg               21.410521
cafe_sum_1000_min_price_avg               21.410521
life_sq                                   20.947786
old_education_build_share                 18.351876
modern_education_share                    18.351876
build_count_after_1995                    16.379508
build_count_mix                           16.379508
build_count_1971-1995                     16.379508
build_count_1946-1970                     16.379508
build_count_1921-1945                     16.379508
build_count_before_1920                   16.379508
                                            ...
office_sqm_3000                            0.000000
trc_count_3000                             0.000000
trc_sqm_3000                               0.000000
cafe_count_3000                            0.000000
cafe_count_3000_na_price                   0.000000
cafe_count_3000_price_500                  0.000000
cafe_count_3000_price_1000                 0.000000
cafe_count_3000_price_1500                 0.000000
cafe_count_3000_price_2500                 0.000000
big_church_count_2000                      0.000000
cafe_count_2000_price_high                 0.000000
cafe_count_2000_price_4000                 0.000000
office_count_2000                          0.000000
church_count_1500                          0.000000
mosque_count_1500                          0.000000
leisure_count_1500                         0.000000
sport_count_1500                           0.000000
market_count_1500                          0.000000
green_part_2000                            0.000000
prom_part_2000                             0.000000
office_sqm_2000                            0.000000
cafe_count_2000_price_2500                 0.000000
trc_count_2000                             0.000000
trc_sqm_2000                               0.000000
cafe_count_2000                            0.000000
cafe_count_2000_na_price                   0.000000
cafe_count_2000_price_500                  0.000000
cafe_count_2000_price_1000                 0.000000
cafe_count_2000_price_1500                 0.000000
id                                         0.000000
dtype: float64